---
title: Documentation
description: Learn how to use Site Lightning from the structure to adding libraries and building your own style guide.
---

extends ../../templates/collection

prepend content
  section.intro
    :markdown
      Site Lightining is designed to be fast for front-end developers to get on with making websites instead of boilerplates. Whether you want to build a single page, a blog, or a large site with multiple collections of pages or even sub-categories... we've got you covered. Here's how to use it.